

<h3> <%= @portfolio_name %> </h3>

<hr style="padding:0px; margin: 0px;">

<p><b>Description</b></p>
<p style="background-color:#e3e3e3;"><%= @portfolio_description %></p>
<p><b>Stocks </b> </p>
<p style="background-color:#e3e3e3;">  	<% @portfolio_stocks.each do |stock| %>
 		<%= stock.ticker %>
 	<% end %> </p>
<hr>


<% @portfolio_stocks.each do |stock| %>

<%= stock.ticker %>
    <% end %>


<div id="container" style="height: 300px; max-width: 410px"></div>

<script>


$(document).ready(function() {



    $.getJSON('/portfolios/get_stock_json', function(data) {
    
        // Create the chart
        $('#container').highcharts('StockChart', {
            

            rangeSelector : {
                selected : 1,
                inputEnabled: $('#container').width() > 480
            },

            title : {
                text : 'AAPL Stock Price'
            },
            
            series : [{
                name : 'AAPL',
                data : data,
                tooltip: {
                    valueDecimals: 2
                }
            }]
        });
    });

});




</script>