<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Portfolio List</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Portfolio Name</th>
          <th>Portfolio Description</th>
        </tr>
      </thead>
      <tbody>
        <% @portfolios.each do |portfolio| %>
        <tr>
          <td><a class="various" data-fancybox-type="iframe" href="/iframe/get_portfolio_html?portfolio_id=<%= portfolio.id %>"><%= portfolio.name %></a>
          <td><%= portfolio.description %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $(".various").fancybox({
 
    fitToView : false,
    width   : '90%',
    height    : '80%',
    autoSize  : false,
    closeClick  : false,
    openEffect  : 'none',
    closeEffect : 'none',

  });
</script>
