<% @test %>

<!DOCTYPE html>
<html>
<head>
</head>
<body>

<center>
	<b>Ticker</b>
	<br>
	<%= @ticker %>
	<br>
	<b>Volume</b> 
	<br>
	<%= @volume %>
	<br>


	</center>


</body>
</html>



