<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Stocks List</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Ticker</th>
          <th>Price</th>
          <th>Last Updated Time</th>
        </tr>
      </thead>
      <tbody>
        <% @stocks.each do |stock| %>
          <tr>
            <td><a class="various" data-fancybox-type="iframe" href="/stocks/<%= stock.ticker %>?type=iframe"><%= stock.name %></a></td>
            <td><%= stock.last_trade_price_only %></td>
            <td><%= stock.updated_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $(".various").fancybox({
 
    fitToView : false,
    width   : '90%',
    height    : '80%',
    autoSize  : false,
    closeClick  : false,
    openEffect  : 'none',
    closeEffect : 'none',

  });
</script>
