<!-- find me in /views/users/settings.html. -->


<body>

<center>

<% if flash[:alert] %>
<p id="notice"><%= flash[:alert] %></p>
<% end %>

<%= render 'settings_form' %>

</center>



</body>