<!-- find me in /views/users/settings.html. -->



<body>

<div id='user'>I am a user. Move your mouse over me</div>

<center>

<% if flash[:alert] %>
<p id="notice"><%= flash[:alert] %></p>
<% end %>

<%= render 'settings_form' %>

</center>



</body>