<body>
    <div class="jumbotron" background="background.jpg">
      <h1>Trading made easy!</h1>
      <p><a href="register" class="btn btn-success btn-lg">Get TradeAssistant For Free</a></p>
      <a href="#learn" class="smoothScroll">Find out more<a>
    </div>

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div id="learn" class="row">
        <div class="col-lg-4">
          <i style="font-size:9em; color: #428bca;" class="glyphicon glyphicon-time"></i>
          <h3>Automated Analyzing</h3>
      </br>
          <p>TradeAssistant tracks investor's stocks automatically.</p>
           <a style="text-decoration:none;" href="#1" type="button" class="btn btn-large btn-primary smoothScroll">Learn More</a>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <i style="font-size:9em; color: #428bca;" class="glyphicon glyphicon-cog"></i>
          <h3>Trader Bot</h3>
      </br>
          <p>Trading bot will monitor the market and apply your custom rules, and will also send reminders</p>
           <a style="text-decoration:none;" href="#2" type="button" class="btn btn-large btn-primary smoothScroll">Learn More</a>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <i style="font-size:9em; color: #428bca; i:active: color:" class="glyphicon glyphicon-file"></i>
          <h3>New Traders</h3>
      </br>
          <p>Trading has never been easier. Apply your own rules with our simple interface and watch your portfolio grow!</p>
          <a style="text-decoration:none;" href="#3" type="button" class="btn btn-large btn-primary smoothScroll">Learn More</a>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider"  id="1">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Automated Analyzing. <span class="text-muted">Use your own rules!</span></h2>
          <p class="lead">Our system will watch the market for you and alert you when your rules are triggered!</p>
        </div>
        <div class="col-md-5">
          <%= image_tag "light_money.jpg" %>
        </div>
      </div>

      <hr class="featurette-divider" id="2">

      <div class="row featurette">
        <div class="col-md-5">
          <%= image_tag "trade_symbol.jpg" %>
    </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Trader Bot <span class="text-muted"><a href= "/register">An investor's best friend!</a></span></h2>
          <p class="lead">Traders input various strategies into their portofolio and our system will monitor the market over a desired time, alerting the user to changes in stocks they are tracking. </p>
        </div>
      </div>

      <hr class="featurette-divider" id="3">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, New Traders<span class="text-muted"> Making money has never been easier.</span></h2>
          <p class="lead">Novice traders no longer constantly have to monitor the market, alerts about desired stocks will be sent to users by email.</p>
        </div>
        <div class="col-md-5">
           <%= image_tag "alerts.png" %>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 TradeAssist</p>
      </footer>

    </div><!-- /.container -->
    
    <script src="js/jquery.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/smoothscroll.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="http://getbootstrap.com/assets/js/holder.js"></script>
  </body>