
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="Description" content="Your Title">
    <meta name="author" content="CoffeeCup Software, Inc.">
    <meta name="Copyright" content="Copyright (c) 2010 CoffeeCup, all rights reserved.">
	<title>Your Title</title>
</head>
<body>



	<h3><%= @rule_name %></h3>
	<hr>
	<b>Description</b> 
	<br>
	<p>
		<span>
			<%= @rule_description %>
		</span>
	</p>
	<hr>
	<b>Last Triggered</b> 

	<p>
		<span>
			<%= @rule_last_triggered  %>
		</span>
	</p>
	<br>
	<hr>
	<b>Portfolio Name</b> 
	<p>
		<span>
			<%= @portfolio_name  %>
		</span>
	</p>
	<hr>


</body>
</html>


