// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/


table {
	background-color: #C0C0C0
}



div.dashboard {
  background: url('new_york.jpg');
        background-size:cover;
        height: 700px;
        padding-top: 70px;
}