// Place all the styles related to the portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//table

.table{
	width: 800px;
	align:center;
	margin-left: auto;
	margin-right: auto;
}  


th {
	width: 100px;
	text-align:center;
}

td{
	width: 100px;
	text-align:center;
}

//makes text wrap color light gray
span{

	background-color:#e3e3e3;
}

//makes filter graph text centered to dropbox show graphs
.filter_text{
	
	padding-left:3em;

}

h3{
	text-align:center;
}
