// Place all the styles related to the home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background-image: url("binary_background.jpg");
  background-size:cover;
  height: 700px;
  padding-top: 70px;
}