// Place all the styles related to the portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stock_loading{
	display: none;
}

.twitter_rating{
	//position:absolute;
	//left: 410px;
	display: inline;
	background-color:#66CC00;
}

div.inline{
	display: inline-block;
}

//table
th{
	width: 250px;
}

td{
	width: 250px;
}

//makes text wrap color light gray, neutral
gray{

	background-color:#e3e3e3;
}

//makes text background color green
good{
	
	background-color:#66CC00;
}

//makes text background color red
bad{
	
	background-color:#C00000;
}

//makes filter graph text centered to dropbox show graphs
.filter_text{
	
	padding-left:3em;

}

//added new css on top - Eddie