// Place all the styles related to the Rules controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'token-input-facebook.css';

body, html {
  height: 100%;
}

form {
  height: 100%;
  width: 100%;
}

h1.create-rule-title {
  position: relative;
  top: 10%;
  left: 10%;
  font-family: Helvetica, Arial, sans-serif;
}
.create-rule-section {
  position: relative;
  left: 15%;
  top: 15%;
  font-family: Arial, sans-serif;
}

div.full-screen {
  height: 100%;
  width: 100%;
}

div.center-screen {
  top: 30%;
  left: 35%;
  font-family: Arial, sans-serif;
}

#intro {
  position: relative;
  left: 25%;
  top: 15%;
  font: bold;
  font-size: 60px;
}

.back {
  position:relative;
  left: 50%
}
.center-btn {
  position: relative;
  left: 40%;
}
ul.token-input-list-facebook {
  width: 100%;
}

#rule_target {
  width: 100%;
}
