// Place all the styles related to the Rules controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'token-input-facebook.css';

div.row{
	background-color: #FFFFFF
	

}

div.form {
  background: url('new_york.jpg');
        background-size:cover;
        height: 700px;
        padding-top: 70px;
}