<%= form_for(@rule) do |f| %>
  <% if @rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rule.errors.count, "error") %> prohibited this rule from being saved:</h2>

      <ul>
      <% @rule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="CoffeeCup HTML Editor (www.coffeecup.com)">
    <meta name="dcterms.created" content="Wed, 05 Mar 2014 07:31:22 GMT">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title></title>
    

		</div>
    <!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <meta name="keywords" content=""></head>
  <body>

  	<br>
	
	<div align="center">

	
	 <!--**************************************************
	  need to make placeholder text centered in css file -->
	<input type="text" name="Symbol" value="" placeholder="Enter symbol here" >
	 <%= link_to "<button>Submit</button>".html_safe, indicator_rules_path %>
	
	<br>
	<br>
	
   	<p><label for="Ticker">Drop down candidates when the user inputs</label></p>
	

  
  
  </body>
</html>

<% end %>
