

<h1 class="create-rule-title">Create a Rule</h1>

<div class="select_or_create row full_screen" >
  <a href="/create_portfolio" data-remote="true">
  <div class="col-md-3 col-md-offset-1 thumbnail portfolio">
      <p class="intro">Create portfolio and add new rule</p>
  </div>
  </a>

  <a href="/select_portfolio" data-remote="true">
  <div class="col-md-3 col-md-offset-1 thumbnail portfolio">
      <p class="intro">Add new rule for existed portfolios</p>
  </div>
  </a>
</div>





  