
<!DOCTYPE html>



	<h3><%= @rule_name %></h3>
	<hr style="padding:0px; margin: 0px;">
	<b>Description</b> 
	<br>
	<p>
		<span style="background-color:#e3e3e3;">
			<%= @rule_description %>
		</span>
	</p>
	<hr style="padding:0px; margin: 0px;">
	<b>Last Triggered</b> 

	<p>
		<span style="background-color:#e3e3e3;">
			<%= @rule_last_triggered  %>
		</span>
	</p>
	<br>
	<hr style="padding:0px; margin: 0px;">
	<b>Portfolio Name</b> 
	<p>
		<span style="background-color:#e3e3e3;">
			<%= link_to @portfolio.name, "/portfolios/get_portfolio?type=page&portfolio_id=" + @portfolio.id.to_s, target: "_blank" %>
		</span>
	</p>
	<hr style="padding:0px; margin: 0px;">




